
<h1 class="title">help me impress (js)</h1>

<div id="main-container" class="dashboard">
    <div class="part-create">
        <div id="button-create">create new presenter screen</div>
    </div>
    <div class="part-or">or</div>
    <div class="part-list">
        <p>Choose one of your previous presentations:</p>
        <ul class="list">

            {{~it.list :item:index}}
                <li><a href="/dashboard/{{=item.guid}}/">{{=item.title}}</a></li>
            {{~}}

        </ul>
    </div>
</div>

<script type="text/javascript">
var HMIJS = { page: "dashboard" }; 
</script>




