<!DOCTYPE HTML>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <title>Help Me Impress.js</title>
        <link rel="stylesheet" href="/css/flat-ui/css/flat-ui.css" type="text/css" />
        <link rel="stylesheet" href="/css/default.css" type="text/css" />
        <script type="text/javascript" charset="utf-8" data-main="/scripts/bootstrap-main" src="/scripts/lib/require.js"></script>

    </head>

    <body>

        <div class="main"> {{= it.body }} </div>
        <footer>help me impress by <a href="http://www.1001.io" target="_blank">1001.io</a>. a presenter tool for <a href="https://github.com/bartaz/impress.js/" target="_blank">impress.js</a>. copyright 2014</footer>

    </body>

</html>
