html {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}
body {
  height: 100%;
  font-family: helvetica, sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #333;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
footer {
  padding: 0.5rem 1rem;
  background-color: #444;
}
.main {
  margin: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-family: lato;
}
.bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: 0.6rem;
}
.left {
  -webkit-box-flex: 1.5;
  -webkit-flex: 1.5;
  -ms-flex: 1.5;
  flex: 1.5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0.6rem;
}
.top {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
h1.title {
  -webkit-box-flex: 0;
  -webkit-flex: 0;
  -ms-flex: 0;
  flex: 0;
  font-size: 3rem;
  text-align: center;
  color: #27ae60;
}
h1.title:before {
  content: '\\/\\/\\/\\/\\';
  letter-spacing: -0.1rem;
  padding-right: 1rem;
  font-size: 2rem;
  padding-top: 1.3rem;
  opacity: 0.5;
}
h1.title:after {
  content: '/\\/\\/\\/\\/';
  padding-left: 1rem;
  letter-spacing: -0.1rem;
  font-size: 2rem;
  padding-top: 1.3rem;
  opacity: 0.5;
}
.clock {
  padding-top: 0.4rem;
  color: #bbb;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.clock .hours,
.clock .minutes,
.clock .seconds {
  font-size: 2rem;
  width: 3rem;
}
.clock .hours:after,
.clock .minutes:after {
  content: ':';
}
.clock button {
  margin-left: 1rem;
  border-radius: 5px;
  background-color: #ffa500;
  border: 0 solid #ffa500;
  font-size: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  -webkit-transition: all 0.5s ec ease-out;
  transition: all 0.5s ec ease-out;
  font-weight: bold;
  cursor: pointer;
}
.clock button:focus {
  outline: 0;
}
.clock button:hover {
  background-color: #999;
}
.bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.embed-code {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: #666;
  padding: 0.5rem;
  border: 1px dashed rgba(50,50,50,0.3);
  margin-bottom: 1rem;
  background-color: rgba(0,0,0,0);
}
iframe {
  border: 0px solid #666;
  outline: 0;
  background-color: #444;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
#preview-current {
  margin-bottom: 0.5rem;
}
.preview-header,
#comment-header {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
  font-weight: normal;
  text-transform: lowercase;
  text-align: center;
  color: #aaa;
  padding-bottom: 0.2rem;
}
textarea {
  background-color: #444;
  color: #eee;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0;
  margin: 0;
  font-weight: bold;
  line-height: 2rem;
  border: 0px solid rgba(255,255,255,0.1);
  outline: 0;
  font-size: 1.5em;
  padding: 1rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
}
textarea:focus {
  outline: 0;
}
.modal-dialog {
  display: none;
}
#button-create {
  border-radius: 1000px;
  width: 18rem;
  height: 18rem;
  padding: 2rem;
  font-size: 3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 3rem;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background-color: #2ecc71;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: lato;
}
#button-login {
  border-radius: 1000px;
  width: 20rem;
  height: 20rem;
  font-size: 3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem;
  line-height: 3rem;
  background-color: #1abc9c;
  text-align: center;
  color: #fff;
  cursor: pointer;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: lato;
}
#main-container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
#main-container.presenter h1 {
  color: rgba(255,255,255,0.5);
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0;
  padding: 0;
  color: #eee;
}
#main-container.index {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#main-container.dashboard {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#main-container.dashboard .part-or {
  padding: 5rem;
  font-size: 4rem;
  color: #2ecc71;
  font-family: lato;
}
#main-container.dashboard .part-list {
  width: 20rem;
}
#main-container.dashboard .part-list p {
  font-family: lato;
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: 200;
  color: rgba(255,255,255,0.5);
}
#main-container.dashboard .part-list ul {
  margin-left: 0;
  padding-left: 1.2rem;
}
.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}
.btn-group > .btn + .btn {
  margin-left: 0;
}
.btn-group > .btn,
.btn-group-vertical > .btn {
  position: relative;
  float: left;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}
.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.nav {
  margin-left: 1rem;
  margin-top: 0.7rem;
}
.nav div {
  cursor: pointer;
}
